<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt=""> -->
    Taxistas
  </a>
</nav>

<div class="row pad-10">
  <div class="col-8">
    <h3>Mapa <small *ngIf="siguiendoNombre" > Siguiendo a: {{ siguiendoNombre }} </small> </h3>
    <div class="mapa ">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" >
        <agm-marker *ngFor="let taxista of taxistas" [latitude]="taxista.lat" [longitude]="taxista.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="col-4">
    <h3>Taxistas</h3>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Lista de todos los taxistas
      </a>
      <a (click)="seguir(taxista)" href="#" *ngFor="let taxista of taxistas" class="list-group-item list-group-item-action">
        {{ taxista.nombre }}
      </a>
      <br>
      <button class="btn btn-outline-primary btn-block" (click)="dejarDeSeguir()" >Dejar de seguir</button>
    </div>
  </div>
</div>